[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
beautifulsoup4 = "*"
lxml = "*"
numpy = "*"
sklearn = "*"
requests = "*"
py-stringmatching = "*"
deepmatcher = {editable = true,git = "https://github.com/belerico/deepmatcher.git",ref = "torch_1.0.1"}

[requires]
python_version = "3.7"
